.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: 0 auto;
}

.profile__img {
  width: 175px;
  height: 180px;

  margin-top: 33px;
  margin-bottom: 33px;
}

.profile__text-h1 {
  font-weight: 700;
  font-size: 30px;

  margin-bottom: 33px;
}

.profile__text-h2 {
  font-weight: 400;
  font-size: 16px;

  text-align: center;

  margin-bottom: 33px;
}

.profile__button {
  width: 208px;
  height: 47px;

  border: none;
  border-radius: 3px;
  background-color: var(--purple);

  font-size: 19px;
  font-weight: 500;
  color: var(--foreground-color);

  margin-bottom: 28px;
}
